.sprite {
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite-fb {
    width: 24px;
    height: 24px;
    background-position: -5px -5px;
}

.sprite-googleplus {
    width: 24px;
    height: 24px;
    background-position: -5px -39px;
}

.sprite-instagram {
    width: 24px;
    height: 24px;
    background-position: -5px -73px;
}

.sprite-phone {
    width: 17px;
    height: 16px;
    background-position: -5px -107px;
}

.sprite-tumblr {
    width: 24px;
    height: 24px;
    background-position: -5px -133px;
}

.sprite-twitter {
    width: 24px;
    height: 24px;
    background-position: -5px -167px;
}

.sprite-vk {
    width: 24px;
    height: 24px;
    background-position: -5px -201px;
}
